In [9]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 6.6 MB/s eta 0:00:000:00:01
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
file_name = r'../Data/Online_Retail.xlsx' 
df = pd.read_excel(file_name, index_col=0, engine='openpyxl')
df.head()

          StockCode                          Description  Quantity  \
InvoiceNo
536365       85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
536365        71053                  WHITE METAL LANTERN         6
536365       84406B       CREAM CUPID HEARTS COAT HANGER         8
536365       84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
536365       84029E       RED WOOLLY HOTTIE WHITE HEART.         6

                  InvoiceDate  UnitPrice  CustomerID         Country
InvoiceNo
536365    2010-12-01 08:26:00       2.55     17850.0  United Kingdom
536365    2010-12-01 08:26:00       3.39     17850.0  United Kingdom
536365    2010-12-01 08:26:00       2.75     17850.0  United Kingdom
536365    2010-12-01 08:26:00       3.39     17850.0  United Kingdom
536365    2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [15]:
df.head()

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
InvoiceNo,,,,,,,
536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 541909 entries, 536365 to 581587
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   StockCode    541909 non-null  object
 1   Description  540455 non-null  object
 2   Quantity     541909 non-null  int64
 3   InvoiceDate  541909 non-null  datetime64[ns]
 4   UnitPrice    541909 non-null  float64
 5   CustomerID   406829 non-null  float64
 6   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 33.1+ MB

In [12]:
file_name1 = r'../Data/online_retail_II.xlsx' 
df1 = pd.read_excel(file_name1, index_col=0, engine='openpyxl')
df1.head()

        StockCode                          Description  Quantity  \
Invoice
489434      85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
489434     79323P                   PINK CHERRY LIGHTS        12
489434     79323W                  WHITE CHERRY LIGHTS        12
489434      22041         RECORD FRAME 7" SINGLE SIZE         48
489434      21232       STRAWBERRY CERAMIC TRINKET BOX        24

                InvoiceDate  Price  Customer ID         Country
Invoice
489434  2009-12-01 07:45:00   6.95      13085.0  United Kingdom
489434  2009-12-01 07:45:00   6.75      13085.0  United Kingdom
489434  2009-12-01 07:45:00   6.75      13085.0  United Kingdom
489434  2009-12-01 07:45:00   2.10      13085.0  United Kingdom
489434  2009-12-01 07:45:00   1.25      13085.0  United Kingdom

In [13]:
df1.head()

,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
Invoice,,,,,,,
489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525461 entries, 489434 to 538171
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   StockCode    525461 non-null  object
 1   Description  522533 non-null  object
 2   Quantity     525461 non-null  int64
 3   InvoiceDate  525461 non-null  datetime64[ns]
 4   Price        525461 non-null  float64
 5   Customer ID  417534 non-null  float64
 6   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 32.1+ MB